### Lecture 21. 서울 지하철 승객 시간별 데이터 시각화

In [1]:
import csv

In [2]:
def addsome(value):
    return value + 10

lst = [10, 23, 4, 7]
result = map(addsome, lst) # 매핑 함수
list(result)

[20, 33, 14, 17]

In [ ]:
def myreplace(s):
    return s.replace(',', '')

lst = ['34,000', '1,999', '2,786', '1,000,000']

result = map(int, map(myreplace, lst))
list(result)

[34000, 1999, 2786, 1000000]

In [5]:
int('101', 2)

5

In [6]:
list(map(int, [3, 5, 11]))

[3, 5, 11]

In [7]:
list(map(int, ['3','5', 11]))

[3, 5, 11]

In [8]:
list(map(int, ['10','17','1f'], [2,8,16]))

[2, 15, 31]

In [9]:
(lambda x, y : x + y) (30, 4)

34

In [10]:
lst = ['34,000', '1,999', '2,786', '1,000,000']
result = map(int, map(lambda s : s.replace(',', ''), lst))
list(result)

[34000, 1999, 2786, 1000000]

In [21]:
import csv 
f = open('subwaytime.csv', encoding='cp949')
data = csv.reader(f)
next(data)  
result = []

for row in data:
    for i in range(4,52):
        row[i] = row[i].replace(',', '')
    
    row[4:] = map(int, row[4:])
    result.append(row[10]) # 오전 7시 승차 데이터

f.close()

print(len(result))
print(result)

ValueError: invalid literal for int() with base 10: '승차'