In [11]:
import pandas as pd
import numpy as np

In [5]:
a = pd.Series([3, 5.6, 7, 9], name = 'basic')
a

0    3.0
1    5.6
2    7.0
3    9.0
Name: basic, dtype: float64

In [3]:
print(a.name)
print(a.values)
print(a.index)

basic
[3.  5.6 7.  9. ]
RangeIndex(start=0, stop=4, step=1)

In [8]:
a = pd.Series([3, -5.6, 7, 9], index = list('abcd'), name = 'basic')
a

a    3.0
b   -5.6
c    7.0
d    9.0
Name: basic, dtype: float64

In [9]:
print(a.name)
print(a.values)
print(a.index)

basic
[ 3.  -5.6  7.   9. ]
Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
df = pd.DataFrame(
    {
        "A" : 1.0, # 
        "B" : np.arange(0,4, .5), # 0부터 4까지 0.5씩 증가
        "C" : pd.Timestamp("20250102"), # 날짜
        "D" : np.array([3] * 8, dtype = "int32"), # 3으로 구성된 배열
        "F" : "foo",
    }, index = pd.date_range("20250102", periods = 8) # 날짜 범위
)
df

              A    B          C  D    F
2025-01-02  1.0  0.0 2025-01-02  3  foo
2025-01-03  1.0  0.5 2025-01-02  3  foo
2025-01-04  1.0  1.0 2025-01-02  3  foo
2025-01-05  1.0  1.5 2025-01-02  3  foo
2025-01-06  1.0  2.0 2025-01-02  3  foo
2025-01-07  1.0  2.5 2025-01-02  3  foo
2025-01-08  1.0  3.0 2025-01-02  3  foo
2025-01-09  1.0  3.5 2025-01-02  3  foo

In [16]:
df.index # index 반환

DatetimeIndex(['2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05',
               '2025-01-06', '2025-01-07', '2025-01-08', '2025-01-09'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns # 컬럼 확인

Index(['A', 'B', 'C', 'D', 'F'], dtype='object')

In [18]:
df.dtypes # 데이터 타입 확인

A          float64
B          float64
C    datetime64[s]
D            int32
F           object
dtype: object

In [19]:
df.to_numpy() # 데이터 프레임을 넘파이 배열로 반환

array([[1.0, 0.0, Timestamp('2025-01-02 00:00:00'), 3, 'foo'],
       [1.0, 0.5, Timestamp('2025-01-02 00:00:00'), 3, 'foo'],
       [1.0, 1.0, Timestamp('2025-01-02 00:00:00'), 3, 'foo'],
       [1.0, 1.5, Timestamp('2025-01-02 00:00:00'), 3, 'foo'],
       [1.0, 2.0, Timestamp('2025-01-02 00:00:00'), 3, 'foo'],
       [1.0, 2.5, Timestamp('2025-01-02 00:00:00'), 3, 'foo'],
       [1.0, 3.0, Timestamp('2025-01-02 00:00:00'), 3, 'foo'],
       [1.0, 3.5, Timestamp('2025-01-02 00:00:00'), 3, 'foo']],
      dtype=object)

In [20]:
df.describe() # 기본 통계값

         A         B                    C    D
count  8.0  8.000000                    8  8.0
mean   1.0  1.750000  2025-01-02 00:00:00  3.0
min    1.0  0.000000  2025-01-02 00:00:00  3.0
25%    1.0  0.875000  2025-01-02 00:00:00  3.0
50%    1.0  1.750000  2025-01-02 00:00:00  3.0
75%    1.0  2.625000  2025-01-02 00:00:00  3.0
max    1.0  3.500000  2025-01-02 00:00:00  3.0
std    0.0  1.224745                  NaN  0.0

In [21]:
df.T

,2025-01-02,2025-01-03,2025-01-04,2025-01-05,2025-01-06,2025-01-07,2025-01-08,2025-01-09
A,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
B,0.0,0.5,1.0,1.5,2.0,2.5,3.0,3.5
C,2025-01-02 00:00:00,2025-01-02 00:00:00,2025-01-02 00:00:00,2025-01-02 00:00:00,2025-01-02 00:00:00,2025-01-02 00:00:00,2025-01-02 00:00:00,2025-01-02 00:00:00
D,3,3,3,3,3,3,3,3
F,foo,foo,foo,foo,foo,foo,foo,foo

In [25]:
df.sort_index(axis=1, ascending=False)

              F  D          C    B    A
2025-01-02  foo  3 2025-01-02  0.0  1.0
2025-01-03  foo  3 2025-01-02  0.5  1.0
2025-01-04  foo  3 2025-01-02  1.0  1.0
2025-01-05  foo  3 2025-01-02  1.5  1.0
2025-01-06  foo  3 2025-01-02  2.0  1.0
2025-01-07  foo  3 2025-01-02  2.5  1.0
2025-01-08  foo  3 2025-01-02  3.0  1.0
2025-01-09  foo  3 2025-01-02  3.5  1.0

In [26]:
df.sort_index(axis = 0, ascending=False)

              A    B          C  D    F
2025-01-09  1.0  3.5 2025-01-02  3  foo
2025-01-08  1.0  3.0 2025-01-02  3  foo
2025-01-07  1.0  2.5 2025-01-02  3  foo
2025-01-06  1.0  2.0 2025-01-02  3  foo
2025-01-05  1.0  1.5 2025-01-02  3  foo
2025-01-04  1.0  1.0 2025-01-02  3  foo
2025-01-03  1.0  0.5 2025-01-02  3  foo
2025-01-02  1.0  0.0 2025-01-02  3  foo

In [28]:
df.sort_values(by = "B", ascending=False)

              A    B          C  D    F
2025-01-09  1.0  3.5 2025-01-02  3  foo
2025-01-08  1.0  3.0 2025-01-02  3  foo
2025-01-07  1.0  2.5 2025-01-02  3  foo
2025-01-06  1.0  2.0 2025-01-02  3  foo
2025-01-05  1.0  1.5 2025-01-02  3  foo
2025-01-04  1.0  1.0 2025-01-02  3  foo
2025-01-03  1.0  0.5 2025-01-02  3  foo
2025-01-02  1.0  0.0 2025-01-02  3  foo